<div class="btn-group search-dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    <img src="catalog/view/theme/mintleaf/image/icon/search-icon.png" alt="Search">
  </button>
  <ul class="dropdown-menu pull-right">
    <li>
      <div id="search" class="input-group">
        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control search-dropdown-input rounded-0" />
        <span class="input-group-btn">
          <button type="button" class="btn search-dropdown-btn rounded-0"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </li>
  </ul>
</div>